<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to WDGINV Web API Services!</h1>
              
            </hgroup>
            <p>
                It provides all the required services for the complete solution.
            </p>
            
        </div>
    </section>
    
</div>
